---
title: callback page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!--begin full-page-->
<div class="full-page">
	<div class="bg-texture" style="background-image: url('img/bg.png');">
	</div>
	<div class="full-page__content full-page__content--form">
		<h1 class="full-page__title">Вы в минуте <br>
		от потолков своей мечты!</h1>
		<p class="full-page__text">Для заказа бесплатного замера, <br>
		напишите свое имя и контактный телефон</p>
		<div class="cform">
			<form action="mail.php">
				<input type="text" placeholder="Ваше имя">
				<input type="text" placeholder="Ваш телефон">
				<button class="btn-orange" type="submit">Позвоните мне</button>
			</form>
		</div>
	</div>
</div>
<!--end full-page-->


{% endblock %}
