---
title: thank page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!--begin full-page-->
<div class="full-page">
	<div class="bg-texture" style="background-image: url('img/bg.png');">
	</div>
	<div class="full-page__content ">
		<h1 class="full-page__title">Спасибо за заявку!</h1>
		<p class="full-page__text full-page__text--sm">В течении часа мы перезвоним вам
		и договоримся о дальнейших действиях!</p>
		<p class="full-page__text">Хорошего дня!</p>
		
	</div>
</div>
<!--end full-page-->


{% endblock %}
