	<!--begin l-->
	<div class="l">
		<!--begin head-foot-->
		<div class="head-foot">
			<a class="head-foot__logo" href="#">
				<img src="img/logo.png" alt="logo">
			</a>
			<div class="head-foot__phone">
				<a href="tell:0 800 21 00 ХХ">
					<i>{{mixins.icon('phone')}}</i>
					<span>0 800 21 00 ХX</span>
				</a>
				<p><a href="mailto:office@potolokprosto.com">office@potolokprosto.com</a></p>
			</div>
		<div class="head-foot__form">
			<form action="mail.php">
				<input class="js-form-field" name="phone" type="text" placeholder="Ваш телефон">
				<button class="btn-g" type="submit">Позвоните мне
				</button>
			</form>
		</div>
		<!--end head-foot-->
	</div>
	<!--end l-->