<!--begin get-fast-->
<div class="get-fast">
	<!--begin l-->
	<div class="l">
		<div class="get-fast__list">
			<!--begin block-item-->
			<div class="block-item block-item--small-text">
				<div class="block-item__img">
					<img src="img/fast1.png" alt="alt">
				</div>
				<div class="block-item__title">Запишитесь на замер</div>
				<div class="block-item__text">
					Заполните заявку, <br>
					кликнув по кнопке, <br>
					или перезвоните нам
				</div>
			</div>
			<!--end block-item-->
			<!--begin block-item-->
			<div class="block-item block-item--small-text">
				<div class="block-item__img">
					<img src="img/fast2.png" alt="alt">
				</div>
				<div class="block-item__title">Заключите договор</div>
				<div class="block-item__text">
					Во время замера <br>
					заключите договор с<br>
					нашим специалистом и<br>
					внесите предоплату
				</div>
			</div>
			<!--end block-item-->
			<!--begin block-item-->
			<div class="block-item block-item--small-text">
				<div class="block-item__img">
					<img src="img/fast3.png" alt="alt">
				</div>
				<div class="block-item__title">Примите работу</div>
				<div class="block-item__text">
					Сроки сдачи прописаны в<br>
					договоре. Производство<br>
					полотна от 1 дня, установка<br>
					от 2 часов
				</div>
			</div>
			<!--end block-item-->

		</div>
	</div>
	<!--end l-->

</div>
<!--end get-fast-->
