		<!--begin hero-->
		<div class="hero">
			<div class="bg-texture" style="background-image: url('img/bg.png');">
			</div>
			<div class="hero__top">
				<div class="hero__bg-text">
					150
				</div>
				<!--begin l-->
				<div class="l">
					<h1 class="title-lg">Заказывайте натяжные потолки 
					в Киеве и области</h1>
					<p class="hero__spec-text">
						по фиксированной цене:
					</p>
					<div class="hero__inner">
						<!--begin hero__left-->
						<div class="hero__left">
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>матовые</span>
							</div>
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>сатиновые</span>
							</div>
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>глянцевые (лаковые)</span>
							</div>
						</div>
						<!--end hero__left-->
						<!--begin hero__right-->
						<div class="hero__right">
							<p>150<span>грн/кв.м</span></p>
						</div>
						<!--end hero__right-->
					</div>
				</div>
				<!--end l-->
			</div>
			<!--begin hero__bottom-->
			<div class="hero__bottom">
				<!--begin l-->
				<div class="l">
					<!--begin hero__prod-list-->
					<div class="hero__prod-list">
						<!--begin prod-block-->
						<div class="prod-block" data-aos="fade-up-right" data-aos-once="true">
							<div class="prod-block__img">
								<img src="img/product1.jpg" alt="alt">
							</div>
							<h5 class="prod-block__title">Матовый, Сатиновый <br>
								(20 цветов)
							</h5>
							<a class="btn-g js-email-data-link" href="callback-page.html"  data-to-email="Заявка">Заказать</a>
							<p class="prod-block__text">
								• Без блеска (мат) или <br>
								с легким шелковым блеском (сатин) <br>
								сделают вашу комнату уютнее
							</p>
						</div>
						<!--end prod-block-->
						<!--begin prod-block-->
						<div class="prod-block" data-aos="fade-up" data-aos-once="true">
							<div class="prod-block__img">
								<img src="img/product2.jpg" alt="alt">
							</div>
							<h5 class="prod-block__title">Глянцевый<br>
								( 150 цветов)
							</h5>
								<a class="btn-g js-email-data-link" href="callback-page.html"  data-to-email="Заявка">Заказать</a>
							<p class="prod-block__text">
								• Шикарный! <br>
								С выкоим отражающим эффектом. <br>
								Зеркало на потолке
							</p>
						</div>
						<!--end prod-block-->
						<!--begin prod-block-->
						<div class="prod-block" data-aos="fade-up-left" data-aos-once="true">
							<div class="prod-block__img">
								<img src="img/product3.jpg" alt="alt">
							</div>
							<h5 class="prod-block__title">Фактурные полотна<br>
								( 150 цветов)
							</h5>
								<a class="btn-g js-email-data-link" href="callback-page.html"  data-to-email="Заявка">Заказать</a>
							<p class="prod-block__text">
								•  Тканевые, замшевые, металлизированные  <br>
								полотна станут изюминкой<br>
								вашего интерьера
							</p>
						</div>
						<!--end prod-block-->
					</div>
					<!--end hero__prod-list-->
					

				</div>
				<!--end l-->

			</div>
			<!--end hero__bottom-->

		</div>
		<!--end hero-->
		