		<!--begin hero-->
		<div class="hero">
			<div class="bg-texture" style="background-image: url('img/bg.jpg');">
			</div>


			<div class="hero__top">
					<div class="hero__bg-text">
						150
					</div>
				<!--begin l-->
				<div class="l">
					<h1 class="title-lg">Заказывайте натяжные потолки 
					в Киеве и области</h1>
					<p class="hero__spec-text">
						по фиксированной цене:
					</p>
					<div class="hero__inner">
						<!--begin hero__left-->
						<div class="hero__left">
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>матовые</span>
							</div>
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>сатиновые</span>
							</div>
							<div class="check check--bold">
								<i class="check__icon"></i>
								<span>глянцевые (лаковые)</span>
							</div>
						</div>
						<!--end hero__left-->
						<!--begin hero__right-->
						<div class="hero__right">
							<p>150<span>грн/кв.м</span></p>
						</div>
						<!--end hero__right-->
					</div>
				</div>
				<!--end l-->
			</div>

		</div>
		<!--end hero-->
		