		<!--begin logo section-->
		<div class="lsection">
			<!--begin l-->
			<div class="l">
				<h2 class="lsection__title" data-aos="zoom-in-up" data-aos-once="true">Натяжной потолок - это <span>PROSTO</span>!</h2>
				<!--begin lsection__inner-->
				<div class="lsection__inner">
					<img class="lsection__logo-img" src="img/logo-big.png" alt="logo"  data-aos="fade-up-right" data-aos-once="true">
					<img src="img/arrow.png" alt="alt" data-aos="fade-up" data-aos-once="true">
					<p class="lsection__text" data-aos="fade-up-left" data-aos-once="true">
						работаем официально<br>
						2 года на рынке<br>
						установили 2 000 потолков<br>
						делаем быстро, чисто, на совесть
					</p>
				</div>
				<!--end lsection__inner-->

			</div>
			<!--end l-->

		</div>
		<!--end logo section-->
		