		<!--begin logo section-->
		<div class="lsection">
			<!--begin l-->
			<div class="l">
				<h2 class="lsection__title">Натяжной потолок - это <span>PROSTO</span>!</h2>
				<!--begin lsection__inner-->
				<div class="lsection__inner">
					<img src="img/logo-big.png" alt="logo">
					<img src="img/arrow.png" alt="alt">
					<p class="lsection__text">
						работаем официально<br>
						2 года на рынке<br>
						установили 2 000 потолков<br>
						делаем быстро, чисто, на совесть
					</p>
				</div>
				<!--end lsection__inner-->

			</div>
			<!--end l-->

		</div>
		<!--end logo section-->
		