<!--begin portfolio-->
<div class="portfolio">
	<div class="portfolio__top">
		<!--begin l-->
		<div class="l">
			<h2 class="portfolio__title" data-aos="fade-left" data-aos-delay="50" data-aos-once="true">Натяжной потолок идеально подходит в каждое
				<span>помещение вашей квартиры</span> 
			</h2>
				<p data-aos="fade-right" data-aos-delay="150" data-aos-once="true">Смотрите наши работы и выбирайте потолок для себя</p>
			</div>
			<!--end l-->
		</div>
		<!--begin portfolio__content-->
		<div class="portfolio__content">
			<div class="bg-texture" style="background-image: url('img/bg.png');"></div>
			<div class="portfolio__bg-text">PROSTO</div>
			<!--begin l-->
			<div class="portfolio__list">
				<div class="l">
					<div class="portfolio-item" data-aos="fade-up-right" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio1.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в ванной</p>
						<p class="portfolio-item__text">
							Сделайте свою ванную комнату безопасной. Потолок защитит от потопа. Выдерживает до 100 л воды. Не вызывает плесень. 
						</p>
					</div>
					<div class="portfolio-item" data-aos="fade-up" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio2.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в гостинной</p>
						<p class="portfolio-item__text">
							Выбирайте цвет и фактуру. Ваша гостинная будет неповторимой. Производство от 1 дня. Устанавка от 2 часов. Служит 20-30 лет
						</p>
					</div>
					<div class="portfolio-item" data-aos="fade-up-left" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio3.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в детской</p>
						<p class="portfolio-item__text">
							Потолок в детской красивый и  безопасный. Сертифицирован в Украине. Впишется в любой интерьер. Устанавливается быстро и чисто. 
						</p>
					</div>
					<div class="portfolio-item" data-aos="fade-up-right" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio4.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в прихожей</p>
						<p class="portfolio-item__text">
							Натяжной потолок сделает уютной вашу прихожую независимо от площади. Выбирайте потолок,  даже если шкаф-купе уже установлен.
						</p>
					</div>
					<div class="portfolio-item" data-aos="fade-up" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio5.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в кухне</p>
						<p class="portfolio-item__text">
							Натяжной потолок в кухне - это удобно и безопасно. Не поддерживает горение. Легко моется. Долго остается, как новый.
						</p>
					</div>
					<div class="portfolio-item" data-aos="fade-up-left" data-aos-delay="0" data-aos-once="true">
						<div class="portfolio-item__img">
							<img src="img/portfolio/portfolio6.jpg" alt="alt">
						</div>
						<p class="portfolio-item__title">Потолок в спальне</p>
						<p class="portfolio-item__text">
							Спальня будет уютной, спокойной или яркой. Выбирайте потолок - создавайте свое настроение. 
						</p>
					</div>
				</div>
			</div>
			<!--end portfolio__list-->
			<div class="l">
				<!--begin portfolio__list-->

				<a class="btn-orange js-email-data-link" href="callback-page.html" data-to-email="Заявка">Записаться  на  бесплатный замер</a>
			</div>
			<!--end l-->
		</div>
		<!--end portfolio__content-->
	</div>
	<!--end portfolio-->
