<!--begin psection-->
<div class="psection">
	<!--begin l-->
	<div class="l">
		<div class="psection__bg-text">PROSTO</div>
		<div class="psection__checks">
			<div class="check" data-aos="fade-up" data-aos-delay="0" data-aos-once="true">
				<i class="check__icon"></i>
				<span>Легко моются</span>
			</div>
			<div class="check" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
				<i class="check__icon"></i>
				<span>Сохраняют цвет</span>
			</div>
			<div class="check" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
				<i class="check__icon"></i>
				<span>Защищают от воды</span>
			</div>
			<div class="check" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
				<i class="check__icon"></i>
				<span>Без запаха</span>
			</div>
		</div>
		<h2 class="title-m" data-aos="fade-up"  data-aos-once="true">
			Жмите на кнопку, если вы хотите  дешево и быстро получить
			белый или цветной однотонный натяжной потолок 
		</h2>
		<a class="btn-orange js-email-data-link" href="callback-page.html" data-to-email="Заявка">Записаться  на  бесплатный замер</a>
	</div>
	<!--end l-->

</div>
<!--end psection-->
