<!--begin psection-->
<div class="psection">
	<!--begin l-->
	<div class="l">
		<div class="psection__bg-text">PROSTO</div>
		<div class="psection__checks">
			<div class="check">
				<i class="check__icon"></i>
				<span>Легко моются</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>Сохраняют цвет</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>Защищают от воды</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>Без запаха</span>
			</div>
		</div>
		<h2 class="title-m">
			Жмите на кнопку, если вы хотите  дешево и быстро получить
			белый или цветной однотонный натяжной потолок 
		</h2>
		<a class="btn-orange" href="#">Записаться  на  бесплатный замер</a>
	</div>
	<!--end l-->

</div>
<!--end psection-->
