<!--begin sale-section-->
<div class="sale-section">
	<div class="sale-section__bg-text">120</div>
	<!--begin l-->
	<div class="l">
		<h2 class="title-l">Хотите натяжной потолок еще дешевле? </h2>
		<div class="sale-section__price-line">Закажите потолок за <span>120</span> грн/кв.м.</div>
		<p class="sale-section__text-big">пока полотно доступно на складе!</p>
		<div class="slider-wrapper">
			<!--begin slider js-slider-->
			<div class="slider js-slider">
				<div class="slider__slide">
					<img src="img/slider/1.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/2.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/3.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/4.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/5.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/6.jpg" alt="alt">
				</div>
				<div class="slider__slide">
					<img src="img/slider/7.jpg" alt="alt">
				</div>
			</div>
			<!--end slider js-slider-->
			<div class="slider-info">
				<p><strong>120</strong>грн/м2</p>
				<span>ширина полотна <br>
				320 cм</span>
			</div>
		</div>
		<div class="sale-section__inner">
			<div class="sale-section__left">
				* Количество полотен на складе ограничено
			</div>
			<div class="sale-section__right">
				<div class="table">
					<div class="table__head">Осталось:</div>
					<div class="table__row table__row--border-bottom">
						<div class="table__cell">
							мат
						</div>
						<div class="table__cell">
							<span class="js-timer-mat">40</span> м.п
						</div>
					</div>
					<div class="table__row">
						<div class="table__cell">
							сатин
						</div>
						<div class="table__cell">
							<span class="js-timer-satin">25</span> м.п
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="btn-orange" href="#">Заказать потолок за 120 грн/ кв.м</a>
	</div>
	<!--end l-->
</div>
<!--end sale-section-->
