<!--begin work-section-->
<div class="wsection">
	<div class="bg-texture" style="background-image: url('img/bg2.png');"></div>
	<!--begin l-->
	<div class="l">
		<h3 class="title-sm">
			Мы предлагаем Вам честные цены:  без завышения и искусственных скидок, 
			без переплаты за офис, раздутый штат и надуманный сервис!
		</h3>
	</div>
	<!--end l-->
	<div class="title-line">
		<div class="l">
			<p>Вы платите  за материал и работы по его монтажу</p>
		</div>
	</div>
	<!--begin l-->
	<div class="l">
		<h2 class="title-md">В цену за 1 кв.м. потолка включено:</h2>
		<div class="wsection__checks">
			<div class="check">
				<i class="check__icon"></i>
				<span>материал ПВХ</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>профиль ПВХ</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>обработка 4 углов</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>установка потолка гарпунным методом</span>
			</div>
			<div class="check">
				<i class="check__icon"></i>
				<span>вырез под люстру</span>
			</div>
		</div>
		<!--begin wsection__items-->
		<div class="wsection__items">
			<!--begin block-item-->
			<div class="block-item">
				<div class="block-item__img">
					<img src="img/work1.png" alt="alt">
				</div>
				<div class="block-item__text">
					Гарантия на полотно<br>
					12 лет
				</div>
			</div>
			<!--end block-item-->
			<!--begin block-item-->
			<div class="block-item">
				<div class="block-item__img">
					<img src="img/work2.png" alt="alt">
				</div>
				<div class="block-item__text">
					Бесплатный<br>
					замер
				</div>
			</div>
			<!--end block-item-->
			<!--begin block-item-->
			<div class="block-item">
				<div class="block-item__img">
					<img src="img/work3.png" alt="alt">
				</div>
				<div class="block-item__text">
					Установка<br>
					от 1 дня
				</div>
			</div>
			<!--end block-item-->
			<!--begin block-item-->
			<div class="block-item">
				<div class="block-item__img">
					<img src="img/work4.png" alt="alt">
				</div>
				<div class="block-item__text">
					Срок эксплуатации 30<br> лет
				</div>
			</div>
			<!--end block-item-->

		</div>
		<!--end wsection__items-->
		<div class="wsection__text">Закажите потолок по самой  выгодной цене и экономьте свои деньги!</div>
		<a href="#" class="btn-orange">Записаться  на  бесплатный замер</a>
	</div>
	<!--end l-->

</div>
<!--end work-section-->
