.btn-g
	appearance: none
	border: none
	text-align: center
	display: inline-block
	vertical-align: top
	color: $white
	font-size: 24px
	text-align: center
	padding: 12px
	background-color: #ff8e1e
	border-radius: 10px
	background-image: linear-gradient(to top, #fff6dc 0%, #029d52 0%, #5fdb21 100%)
	+trans
	min-width: 165px
	&:hover
		background-image: linear-gradient(to bottom, #fff6dc 0%, #029d52 0%, #5fdb21 100%)
	&:active
		background-image: linear-gradient(to bottom, #029d52 0%, #029d52 0%, #029d52 100%)
.btn-orange
	appearance: none
	border: none
	max-width: 615px
	display: block
	margin: 0 auto
	padding: 20px 10px 19px
	background-color: $orange-bg
	border-radius: 10px
	background-image: linear-gradient(to top, #ff6000 0%, #ff6000 5%, #ff7800 100%)
	+trans
	text-align: center
	font-size: 36px
	color: $white
	&:hover
		background-image: linear-gradient(180deg, #ff6000 0%, #ff6000 5%, #ff7800 100%)
	&:active
		background-image: linear-gradient(180deg, #ff1800 0%, #ff1800 5%, #ff5a00 100%, #ff5a00 100%)

.btn-prev, .btn-next
	width: 23px
	height: 40px
	font-size: 0
	cursor: pointer
	position: absolute
	top: 38%
	position: absolute
	z-index: 1
	svg
		width: 23px
		height: 40px
		fill: $white
		+trans
	+rmin(1024)
		&:hover
			svg
				fill: $green
.btn-prev
	left: 13px
.btn-next
	right: 13px