.lsection
	background-color: $green3
	padding: 16px 0 46px
	+sm
		padding-bottom: 20px
	&__title
		margin-bottom: 40px
		font-weight: 700
		font-size:  58px
		text-align: center
		+md
			font-size: 30px
		+sm
			font-size: 16px
			margin-bottom: 20px
		span
			font-size: 69px
			color: $green
			position: relative
			top: 5px
			+md
				font-size: 40px
			+sm
				font-size: 18px
				top: 2px
	&__inner
		max-width: 980px
		display: flex
		justify-content: space-between
		margin: 0 auto
		align-items: center
		+sm
			display: block
			position: relative
		img
			flex-shrink: 1
			+md
				max-height: 80px
			+sm
				display: none
		.lsection__logo-img
			+sm
				display: block
	&__logo-img
		+sm
			// float: right
			// +r(499)
			width: 85px
			position: absolute
			transform: rotate(270deg)
			left: -14px
			top: 30px
	&__text
		font-size: 26px
		line-height: 1.4
		+md
			font-size: 20px
			flex-shrink: 0
		+sm
			font-size: 16px
			padding-left: 61px
