.psection
	padding-top: 37px
	padding-bottom: 80px
	position: relative
	+md
		padding: 35px 0
	&__checks
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 57px
		font-size: 0
		+lg
			margin-bottom: 35px
		+sm
			display: block
		.check
			+sm
				display: inline-block
				vertical-align: top
				width: 50%
				padding-right: 5px
	&__bg-text
		color: $white
		font-size: 250px
		font-weight: 700
		position: absolute
		z-index: -1
		left: 50%
		transform: translateX(-50%)
		top: 20px
		color: $gray3
		letter-spacing: 25px
		line-height: 1
		+lg
			display: none
	.title-m
		margin-bottom: 56px
		+md
			margin-bottom: 35px